@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: radial-gradient(
    circle farthest-side at 0% 100%,
    hsla(260, 100%, 50%, 0.6) 0%,
    hsla(260, 100%, 33%, 0.66) 42%,
    hsla(0, 0%, 4%, 1) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
}

.grid-bg {
  width: 100%;
  position: relative;

  .grid-bg-wrapper {
    z-index: 1;
  }

  .grid-bg-content {
    position: relative;
    z-index: 2;
  }

  &__line {
    background: rgba(119, 0, 255, 0.58);
    height: 100%;
    width: 4px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    box-shadow: 0px 0px 45px 3px #7700ff94;

    @for $i from 0 through 10 {
      &:not(.static):nth-child(#{$i + 1}) {
        left: calc((10% * #{$i}));
      }
    }
  }
}
